:root {
            --rojo-oscuro: #8b000093;
            --rojo-medio: #b63737;
            --rojo-claro: #d65252;
            --negro: #380808;
            --blanco: #F5F5F5;
        }
body, p, h1, h2, h3, li {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    text-shadow: none; 
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f3b7b793;
}
main {
    padding: 2rem;
    flex: 1;
} 

header{
    background-image: url('../_img/KY7U4RJERBHAZELS4B4VSGJ464.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
    padding: 100px 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

nav {
            background-color: var(--rojo-oscuro);
            padding: 15px 0;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        
        nav li {
            display: inline;
            margin: 0 15px;
        }
        
        nav a {
            color: var(--blanco);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px 10px;
            border-radius: 4px;
            transition: all 0.3s ease;
        }
        
        nav a:hover {
            background-color: var(--negro);
            color: var(--blanco);
        }
        
        /* Estilo para la página activa */
        nav a.active {
            background-color: var(--negro);
        }

/*Home*/
#subtitulo {
    color: #380808;
    text-align: center;
    font-size: 30px
}

/* reseña*/
    .libro {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .libro img {
        width: 150px;
        height: auto;
        margin-right: 20px;
        border-radius: 8px;
    }
    .libro-info {
        max-width: 600px;
    }
    h2 {
        margin: 0 0 10px;
    }
    p {
        margin: 0;
    }

footer {
    text-align: center;
    padding: 0.3rem;
    background-color: #2c0101;
    color: white;
}